<article class="comment">
	<a class="comment-img" href="#">
		<% if comment.user %>
			<%= gravatar_image_tag comment.user.email, alt: comment.user.name %>
		<% else %>
			<img src="/assets/df.png" alt="" width="50" height="50" />
		<% end %>
	</a>
	<div class="comment-body">
		<div class="text">
			<%= markdown comment.body %>
		</div>
		<p class="attribution">
			<% if comment.user %>
				by <a href="#"><%= comment.user.name %></a> <%= comment.created_at.strftime("at %b %-d, %Y - %k:%M %p") %>
			<% else %>
				by <a href="#">guest </a> <%= comment.created_at.strftime("at %b %-d, %Y - %k:%M %p") %>
			<% end %>
			<% if comment.user = current_user %>
				<%= link_to 'Delete', [comment.post, comment], confirm: 'Are you sure?', method: :delete, remote: true %>
			<% end %>
		</p>
	</div>
</article>