<%= form_for(@post) do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@post.errors.count, "error") %>prohibited this post from being saved:
  </h2>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<table cellspacing ="0" cellpadding ="0" class="table">
  <tr>
    <td>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="field">
        <%= f.label :tag_list, "Tags (separated by commas)" %>
        <%= f.text_field :tag_list %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="field">
        <%= f.label :body %> <h3 style="color:red"><%= f.file_field :picture, class: "btn-large" %>[Picture]</h3>
        <%= f.text_area :body, rows: 8, class: "tabletd" %>
        <%= link_to "Markdown Syntax", "http://bywordapp.com/markdown/syntax.html", :target => "_blank" %>
        支持表情，见 <%= link_to "Emoji cheat sheet", "http://www.emoji-cheat-sheet.com/", :target => "_blank"%>
        <%= f.submit "Save", class: "btn-large", style: "float:right;"%>
      </div>
    </td>
  </tr>
</table>
<% end %>