<%= form_for(@post) do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation" class="alert alert-error">
  <h2>
    <%= pluralize(@post.errors.count, "error") %>prohibited this post from being saved:
  </h2>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="row-fluid">
  <div class="af-outer af-required">
    <div class="af-inner">
      <%= f.text_field :title, size: 30, placeholder: "Title", class: "text-input span12 placeholder" %>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="af-outer af-required">
    <div class="af-inner">
      <%= f.text_field :tag_list, placeholder: "Tags (separated by commas)", class: "text-input span12 placeholder", style: "width:360px" %>
      <h4 style="color:red;"><%= f.file_field :picture, style: "line-height: 0; height: 25px;", id: "sat-picture" %>[Picture]</h4>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div class="af-outer af-required">
    <div class="af-inner">
      <%= f.text_area :body, cols: 30, placeholder: "Body", class: "text-input span12 placeholder", id: "sat-post-body" %>
      <%= link_to "Markdown Syntax", "http://bywordapp.com/markdown/syntax.html", :target => "_blank" %>
      支持表情，见 <%= link_to "Emoji cheat sheet", "http://www.emoji-cheat-sheet.com/", :target => "_blank"%>
      <%= f.submit "Save", class: "form-button btn btn-primary", style: "float:right;"%>
    </div>
  </div>
</div>
<% end %>