<article class="blog-post">
  <div class="row-fluid">
      <div class="span2">
          <a href="#" class="post-meta-date">
              <span class="line1"><%= @post.created_at.strftime('%b %d')%></span>
              <span class="line2"><%= @post.created_at.strftime('%Y')%></span>
          </a>
      </div>
      <div class="span10">
          <h3 class="post-title"><%= link_to @post.title, @post %></h3>
          <ul class="post-meta">
            <% if @post.user %>
              <li><span class="post-meta-label">By:</span> <a href="#"><%= @post.user.name %></a></li>
            <% end %>
            <% if @post.tag_list.size != 0 %>
              <li><span class="post-meta-label">Tags:</span> <%= raw @post.tags.map { |t| link_to t.name, tag_path(t.name) }.join(', ') %></li>
            <% end %>
            <% if @post.comments.count != 0 %>
            <li><span class="post-meta-label">Comments:</span> <%= link_to @post.comments.count,  @post %></li>
            <% end %>
            <li>
              <span id="like">
                <%= render 'likes/like_button', :post => @post %>
              </span>
            </li>
          </ul>
      </div>
  </div>
  <div class="post-content">
    <p>
      <%= markdown @post.body %>
    </p>
  </div>
  <div class="post-media">
    <% unless @post.picture_url.nil? %><%= image_tag @post.picture_url %><br /><% end %>
  </div>
</article>
<br />
<article class="blog-post">
  <h6>
    <%= @post.comments.count %> Comments
    <% if !user_signed_in? %>
      <%= form_tag("/auth/salesforce", id: "loginForm", style: "float:right;") do %>
        <a href="javascript:{}" onclick="document.getElementById('loginForm').submit()">Sign in through Salesforce to comment</a>
      <% end %>
    <% end %>
  </h6>
  <section class="comments">
    <%= render @post.comments %>
  </section>
  <%= render "comments/form" %>
</article>
